
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<table class="table mt-4 border">
					  <thead class="thead-dark">
					    <tr>
					      <th scope="col" colspan="3">Seus Lembretes <a href="/adicionar">+</a></th>
					    </tr>
					  </thead>
					  <tbody>

					  	{loop="$lembretes"}
					    <tr class="row">
					      <td class="col-md-9 ml-1">{$value.descricao}</td>
					      <td class="col-md-1"><a href="/lembrete/{$value.id}">Editar</a></td>
					      <td class="col-md-1"><a href="/lembrete/{$value.id}/excluir" onclick="return confirm('Deseja realmente excluir este registro?')">Excluir</a></td>
					    </tr>
					    {/loop}
					    
					    {if="$lembretes == ''"}
					    <tr class="row">
					    	<td class="col-md-2"></td>
					     	<td class="col-md-10">Clique no botao +, que está acima, para adicionar um lembrete</td>
					    </tr>
					    {/if}

					  </tbody>
				</table>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>