
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<table class="table mt-4 border">
					  <thead class="thead-dark">
					    <tr>
					      <th scope="col" colspan="3">Seus Lembretes <a href="/adicionar">+</a></th>
					    </tr>
					  </thead>
					  <tbody>
					  	
					    <tr class="row">
					      <td class="col-md-9 ml-1">Descrição do lembrete</td>
					      <td class="col-md-1"><a href="/editar">Editar</a></td>
					      <td class="col-md-1"><a href="/excluir">Excluir</a></td>
					    </tr>
					    
					    <tr class="row">
					    	<td class="col-md-2"></td>
					     	<td class="col-md-10">Clique no botao +, que está acima, para adicionar um lembrete</td>
					    </tr>
					    
					  </tbody>
				</table>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>